

.cabecera {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
font-family: 'Anton', sans-serif;
    
    h1, h3, h4 {
        font-size: xx-large;
        margin: 1rem;
    }
}

.crearMiembro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
}


