<div class="cuentasTotales" >
    <h2>Total Tickets pagados: {{cuentaTotalPagada | currency:'EUR':true:'.0-0'}}</h2>
    <h2>Total Tickets a deber: {{cuentaTotalNoPagada | currency:'EUR':true:'.0-0'}}</h2>
</div>

<button mat-raised-button (click)="irResumen()" color="primary">Ver Resumen</button>

<div class="formulario" >
    <form [formGroup]="nuevoMiembro">
        <mat-form-field class="example-form-field">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Nombre" formControlName="nombre" required [(ngModel)]="value">
            <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        
        <!-- ERROR EN CASO DE CAMPO REQUERIDO VACÍO -->
        <div *ngIf="nombre?.errors?.['required'] && nombre?.touched">
            <b [ngStyle]="{color: 'white'}">EL NOMBRE ES NECESARIO, BASURA</b>
        </div>
        
        <mat-form-field class="example-form-field">
            <mat-label>Tickets pagados</mat-label>
            <input matInput placeholder="0€" formControlName="cuentaPagada">
            <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        
        <mat-form-field class="example-form-field">
            <mat-label>Tickets a deber</mat-label>
            <input matInput placeholder="0€" formControlName="cuentaNoPagada">
            <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        
        <button  class="botonFormulario" mat-raised-button color="primary" (click)="enviarFormulario()">Añadir</button>
    </form>
</div>


<!-- ETIQUETA DE COMPONENTE MIEMBROS-PAGE CON BINDING PARA COMPONENTE CREAR-MIEMBRO -->
<div class="listado">
    <app-miembros-page *ngFor="let miembro of miembros" [miembro]="miembro" 
                        (sumarTicket)="agregarTicket()" 
                        (sumarTicketNP)="agregarTicketNoPagado()"
                        (limpiarNP)="eliminarNP($event)"
                        (eliminarM)="eliminarMiembroSeleccionado($event)">
    </app-miembros-page>
</div>

