:host {

  .cuentasTotales {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Anton', sans-serif;
    align-items: center;
    margin-bottom: 3rem;
    -webkit-text-stroke: 1px black;
    background-color: #4A4A4A;
    border-radius: 15px;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  
    h2 {
      font-size: xx-large;
    }
    
  }

  .fomulario {
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
  }

  .example-form-field {
    width: 200px;
    margin: 8px;
  }

  button {
    margin: 8px
  }

  
  // .listado {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   justify-content: center;
  //   margin-top: 5rem;
  // }
}


  @media (max-width: 575px) {
    .formulario {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-left: 4rem;
    }

    .botonFormulario {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }









